:root {
  --clr-primary: #633cff;
  --clr-secondary: #beadff;
  --clr-blue-chalk: #efebff;
  --clr-white: #fff;
  --clr-dark: #333333;
  --clr-smokey-grey: #737373;
  --clr-light-grey: #d9d9d9;
  --clr-alabaster: #fafafa;
  --clr-danger: #ff3939;
  --clr-black: #000;

  --font-primary: "Pixelify Sans", sans-serif;

  --shadow-active: 0 0 32px rgba(99, 60, 255, 0.25);
  --shadow: 0 0 32px rgba(0, 0, 0, 0.1);
}
