.animated-link-card {
  filter: grayscale(80%);
  opacity: 0.5;
  transition: all 0.3s;
  overflow: hidden;
  min-width: 40rem;
  width: 100%;
  height: 100%;
  border: 2px solid #171717;
  position: relative;
}

.animated-link-card:hover {
  filter: grayscale(0%);
  opacity: 1;
}

.animated-link-card__text {
  bottom: 0;
  left: 0;
  background-color: #171717;
  height: 5.5rem;
  width: 100%;
  padding: 0.7rem 1.2rem;
  font-size: 2rem;
  color: white;
  transition: all 0.3s ease-in-out;
  position: absolute;
  transform: translateY(100%);
}

.animated-link-card img {
  height: 100% !important;
  transition: all 0.3s ease-in-out;
}
.animated-link-card:hover img {
  height: 90% !important;
}
.animated-link-card:hover .animated-link-card__text {
  transform: translateY(0);
}

@media only screen and (max-width: 48em) {
  .animated-link-card {
    filter: grayscale(0%);
    opacity: 1;
  }
  .animated-link-card__text {
    transform: translateY(0);
    height: 3.5rem;
    font-size: 1.5rem;
    width: fit-content;
  }
}
