.projects {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.projects__lists {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
  justify-items: center;
  gap: 2rem;
}
