@import url("./styles/normalize.css");
@import url("./styles/variables.css");

body {
  background-color: #171717;
}

.loading {
  height: 100%;
  background-image: url("/loading.webp");
  background-size: cover;
  background-position: center;
}
